# OCR

pdf2image==1.10.0
pdfminer==20191103
Pillow==8.1.1
pycryptodome==3.9.1
pytesseract==0.3.0

# General ML
torch==1.3.0
torchtext

# Speech Synthesis
google-cloud-texttospeech

# CRAFT
torchvision==0.2.1
opencv-python==4.1.1.26
scikit-image==0.14.2

# Character Recognition
numPy==1.15.4
keras==2.2.4
